*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}
#parent{
    width: 950px;
    height: 650px;
    background-color: antiquewhite;
    border: 4px solid black;
    margin: 50px auto;    
}
.child{
    width: 200px;
    height: 200px;
    display: inline-block;
}
.child-1{
    background-color: red;
    
}
.child-2{
    background-color: deepskyblue;
    /* display: none; */
    /* visibility: hidden; */    
}
.child-3{
    background-color: mediumpurple;
    
}
