.container {
    background-color: red;
    height: 700px;
    /* width: 900px; */
    border: 3px solid dimgrey;
    display: grid;
   /* grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px;*/

    /* OR */

    /* grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); */

    /* OR  */

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 115px 1fr 1fr;


    row-gap: 12px;
    column-gap: 12px;
  
}

.item {
    background-color: aqua;
    /* width: 122px;
    height: 122px; */
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
}