
*{
    margin: 0px;
    padding: 0px;

}

.container {
    background-color: red;
    height: 700px;
    /* width: 900px; */
    border: 3px solid dimgrey;
    display: grid;
   /* grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px;*/

    /* OR */

    /* grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); */

    /* OR  */

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 115px 1fr 43px;


    row-gap: 12px;
    column-gap: 12px;
    place-items: center;
  
}

.item {
    background-color: aqua;
    width: 122px;
    height: 122px;
   
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* aap iske badle ye bhi karsaktey hai  */
    grid-column: 1 / span 3;
    background-color: greenyellow;
    width: 100%;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: darkgreen;
    width: 100%;
}
